<h1>USER REGISTRATION</h1>

{% if error_message %}<p><strong><font color="red">{{ error_message }}</font></strong></p>{% endif %}

<form action="{% url 'useradministration:reg_user' %}" method="post">
  {% csrf_token %}
  username:<br>
  <input type="text" name="username" {% if username %}value="{{ username }}"{% endif %}><br>
  <br>
  password:<br>
  <input type="text" name="password" {% if password %}value="{{ password }}"{% endif %}><br>
  <br>
  repeat password:<br>
  <input type="text" name="password_rep" {% if password %}value="{{ password_rep }}"{% endif %}><br>
  <br>
  email address:<br>
  <input type="text" name="email" {% if email %}value="{{ email }}"{% endif %}><br>
  <br>  
  age:<br>
  <input type="text" name="age" {% if age %}value="{{ age }}"{% endif %}><br>
  <br>
  gender:<br>
  <select name="gender" size="2">
    <option value="f" selected="selected">female</option>
    <option value="m">male</option>
  </select>
  <br>
  <br>
  <input type="submit" value="OK"/>
</form>
