<!DOCTYPE html>
<html xmlns:width="http://www.w3.org/1999/xhtml">

<head>
    <title>Diagramme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .logoutButton {
        background-color: #F8F8F8;
        border: none;
        color: grey;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    }
    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../home"><img class="navbar-brand" src="http://i.imgur.com/duGBAxp.png" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../home">Home</a></li>
                <li class="active" class="dropdown">
                    <a href="../charts" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">Diagramme <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../charts#firstChartsNav">Einzelne Kuchendiagramme</a></li>
                        <li><a href="../charts#secondChartsNav">Kombinierte Balkendiagramme</a></li>
                    </ul>
                </li>
                <li><a href="../tables">Tabellen</a></li>
                <li><a href="../myprofile/">Profil</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form action="{% url 'coreapp:eingeloggt' %}" method="post">
                        {% csrf_token %}
                        <button class="logoutButton" type="submit" name="action">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="firstChartsNav"></div>
<br><br><br>

<div id="chart_wohlbefinden" style="width:95%; auto"></div>
<div id="chart_aktivitaet" style="width:95%; auto"></div>
<div id="chart_Kleidung" style="width:95%; auto"></div>

<div id="secondChartsNav"></div>
<br><br><br>

<div id="chart_wohlbefindenUndKleidung" style="width:95%; auto"></div>
<div id="chart_wohlbefindenUndAktivitaet" style="width:95%; auto"></div>
<div id="chart_aktivitaetUndKleidung" style="width:95%%; auto"></div>

<script type='text/javascript'>
    $(document).ready(function() {

    var options = {
        chart: {
            renderTo: 'chart_wohlbefinden',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Wohlbefinden'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Benutzer',
            colorByPoint: true,
            data: [{
                name: 'Sehr gut',
            },{
                name: 'Gut',
            },{
                name: 'Durchschnittlich',
            },{
                name: 'Schlecht',
            },{
                name: 'Sehr schlecht',
            }]
        }]
    };

    $.getJSON('http://127.0.0.1:8000/questionarys/', function(data) {
        console.log(data)
        var opt1 = 0, opt2 = 0, opt3 = 0, opt4 = 0, opt5 = 0;

        for (i = 0; i < data.length; i++) {

            switch(data[i].feeling) {
                case 1: opt1++; break;
                case 2: opt2++; break;
                case 3: opt3++; break;
                case 4: opt4++; break;
                case 5: opt5++; break;
                default: break;
            }
        }

        options.series[0].data[0].y = opt1;
        options.series[0].data[1].y = opt2;
        options.series[0].data[2].y = opt3;
        options.series[0].data[3].y = opt4;
        options.series[0].data[4].y = opt5;

        var chart = new Highcharts.Chart(options);
    });
});
</script>

<script type='text/javascript'>
    $(document).ready(function() {

    var options = {
        chart: {
            renderTo: 'chart_aktivitaet',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Aktivitaet'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Benutzer',
            colorByPoint: true,
            data: [{
                name: 'Vorlesung',
            },{
                name: 'Andere',
            },{
                name: 'Praktikum',
            }]
        }]
    };

    $.getJSON('http://127.0.0.1:8000/questionarys/', function(data) {
        console.log(data)
        var opt1 = 0, opt2 = 0, opt3 = 0;

        for (i = 0; i < data.length; i++) {

            switch(data[i].activity) {
                case 1: opt1++; break;
                case 2: opt2++; break;
                case 3: opt3++; break;
                default: break;
            }
        }

        options.series[0].data[0].y = opt1;
        options.series[0].data[1].y = opt2;
        options.series[0].data[2].y = opt3;

        var chart = new Highcharts.Chart(options);
    });
});</script>

<script type='text/javascript'>
    $(document).ready(function() {

    var options = {
        chart: {
            renderTo: 'chart_Kleidung',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Kleidung'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Benutzer',
            colorByPoint: true,
            data: [{
                name: 'Sehr leicht angezogen',
            },{
                name: 'Leicht angezogen',
            },{
                name: 'Warm angezogen',
            },{
                name: 'Sehr warm angezogen',
            }]
        }]
    };

    $.getJSON('http://127.0.0.1:8000/questionarys/', function(data) {
        console.log(data)
        var opt1 = 0, opt2 = 0, opt3 = 0, opt4 = 0;

        for (i = 0; i < data.length; i++) {

            switch(data[i].clothing) {
                case 1: opt1++; break;
                case 2: opt2++; break;
                case 3: opt3++; break;
                case 4: opt4++; break;
                default: break;
            }
        }

        options.series[0].data[0].y = opt1;
        options.series[0].data[1].y = opt2;
        options.series[0].data[2].y = opt3;
        options.series[0].data[3].y = opt4;

        var chart = new Highcharts.Chart(options);
    });
});
</script>

<script type='text/javascript'>
    $(document).ready(function() {

    var options = {
        chart: {
            renderTo: 'chart_wohlbefindenUndKleidung',
            type: 'bar'
        },
        title: {
            text: 'Wohlbefinden und Kleidung'
        },
        xAxis: {
            categories: ['Sehr gut', 'Gut', 'Durchschnittlich', 'Schlecht', 'Sehr schlecht'],
            title: {
                text: 'Wohlbefinden'
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Kleidung',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Sehr leicht',
        }, {
            name: 'Leicht',
        }, {
           name: 'Warm',
        }, {
           name: 'Sehr warm',
        }]
    };

    $.getJSON('http://127.0.0.1:8000/questionarys/', function(data) {

        console.log(data)

        var opt11 = 0, opt12 = 0, opt13 = 0, opt14 = 0, opt15 = 0;
        var opt21 = 0, opt22 = 0, opt23 = 0, opt24 = 0, opt25 = 0;
        var opt31 = 0, opt32 = 0, opt33 = 0, opt34 = 0, opt35 = 0;
        var opt41 = 0, opt42 = 0, opt43 = 0, opt44 = 0, opt45 = 0;

        for (i = 0; i < data.length; i++) {

            switch(data[i].clothing) {
                case 1: switch(data[i].feeling) {
                            case 1: opt11++; break;
                            case 2: opt12++; break;
                            case 3: opt13++; break;
                            case 4: opt14++; break;
                            case 5: opt15++; break;
                            default: break;
                        } break;
                case 2: switch(data[i].feeling) {
                            case 1: opt21++; break;
                            case 2: opt22++; break;
                            case 3: opt23++; break;
                            case 4: opt24++; break;
                            case 5: opt25++; break;
                            default: break;
                        } break;
                case 3: switch(data[i].feeling) {
                            case 1: opt31++; break;
                            case 2: opt32++; break;
                            case 3: opt33++; break;
                            case 4: opt34++; break;
                            case 5: opt35++; break;
                            default: break;
                        } break;
                case 4: switch(data[i].feeling) {
                            case 1: opt41++; break;
                            case 2: opt42++; break;
                            case 3: opt43++; break;
                            case 4: opt44++; break;
                            case 5: opt45++; break;
                            default: break;
                        } break;
                default: break;
            }
        }

        var rows0 = [opt11, opt12, opt13, opt14, opt15];
        var rows1 = [opt21, opt22, opt23, opt24, opt25];
        var rows2 = [opt31, opt32, opt33, opt34, opt35];
        var rows3 = [opt41, opt42, opt43, opt44, opt45];

        options.series[0].data = rows0;
        options.series[1].data = rows1;
        options.series[2].data = rows2;
        options.series[3].data = rows3;

        var chart = new Highcharts.Chart(options);
    });
});
</script>

<script type='text/javascript'>
    $(document).ready(function() {

    var options = {
        chart: {
            renderTo: 'chart_wohlbefindenUndAktivitaet',
            type: 'bar'
        },
        title: {
            text: 'Wohlbefinden und Aktivität'
        },
        xAxis: {
            categories: ['Sehr gut', 'Gut', 'Durchschnittlich', 'Schlecht', 'Sehr schlecht'],
            title: {
                text: 'Wohlbefinden'
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Aktivität',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Vorlesung',
        }, {
            name: 'Anderes',
        }, {
           name: 'Praktikum',
        }]
    };

    $.getJSON('http://127.0.0.1:8000/questionarys/', function(data) {

        console.log(data)

        var opt11 = 0, opt12 = 0, opt13 = 0, opt14 = 0, opt15 = 0;
        var opt21 = 0, opt22 = 0, opt23 = 0, opt24 = 0, opt25 = 0;
        var opt31 = 0, opt32 = 0, opt33 = 0, opt34 = 0, opt35 = 0;

        for (i = 0; i < data.length; i++) {

            switch(data[i].activity) {
                case 1: switch(data[i].feeling) {
                            case 1: opt11++; break;
                            case 2: opt12++; break;
                            case 3: opt13++; break;
                            case 4: opt14++; break;
                            case 5: opt15++; break;
                            default: break;
                        } break;
                case 2: switch(data[i].feeling) {
                            case 1: opt21++; break;
                            case 2: opt22++; break;
                            case 3: opt23++; break;
                            case 4: opt24++; break;
                            case 5: opt25++; break;
                            default: break;
                        } break;
                case 3: switch(data[i].feeling) {
                            case 1: opt31++; break;
                            case 2: opt32++; break;
                            case 3: opt33++; break;
                            case 4: opt34++; break;
                            case 5: opt35++; break;
                            default: break;
                        } break;
                default: break;
            }
        }

        var rows0 = [opt11, opt12, opt13, opt14, opt15];
        var rows1 = [opt21, opt22, opt23, opt24, opt25];
        var rows2 = [opt31, opt32, opt33, opt34, opt35];

        options.series[0].data = rows0;
        options.series[1].data = rows1;
        options.series[2].data = rows2;

        var chart = new Highcharts.Chart(options);
    });
});
</script>

<script type='text/javascript'>
    $(document).ready(function() {

    var options = {
        chart: {
            renderTo: 'chart_aktivitaetUndKleidung',
            type: 'bar'
        },
        title: {
            text: 'Kleidung und Aktivität'
        },
        xAxis: {
            categories: ['Sehr leicht', 'Leicht', 'Warm', 'Sehr Warm'],
            title: {
                text: 'Kleidung'
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Aktivität',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Vorlesung',
        }, {
            name: 'Anderes',
        }, {
           name: 'Praktikum',
        }]
    };

    $.getJSON('http://127.0.0.1:8000/questionarys/', function(data) {

        console.log(data)

        var opt11 = 0, opt12 = 0, opt13 = 0, opt14 = 0;
        var opt21 = 0, opt22 = 0, opt23 = 0, opt24 = 0;
        var opt31 = 0, opt32 = 0, opt33 = 0, opt34 = 0;

        for (i = 0; i < data.length; i++) {

            switch(data[i].activity) {
                case 1: switch(data[i].clothing) {
                            case 1: opt11++; break;
                            case 2: opt12++; break;
                            case 3: opt13++; break;
                            case 4: opt14++; break;
                            default: break;
                        } break;
                case 2: switch(data[i].clothing) {
                            case 1: opt21++; break;
                            case 2: opt22++; break;
                            case 3: opt23++; break;
                            case 4: opt24++; break;
                            default: break;
                        } break;
                case 3: switch(data[i].clothing) {
                            case 1: opt31++; break;
                            case 2: opt32++; break;
                            case 3: opt33++; break;
                            case 4: opt34++; break;
                            default: break;
                        } break;
                default: break;
            }
        }

        var rows0 = [opt11, opt12, opt13, opt14];
        var rows1 = [opt21, opt22, opt23, opt24];
        var rows2 = [opt31, opt32, opt33, opt34];

        options.series[0].data = rows0;
        options.series[1].data = rows1;
        options.series[2].data = rows2;

        var chart = new Highcharts.Chart(options);
    });
});
</script>
</body>
</html>
