<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eingeloggt</title>
</head>
<body>
<h1>PROFILE VIEW</h1>

<h3>Name: {% if username %}{{ username }}{% endif %}</h3>
<h3>E-Mail: {% if email %}{{ email }}{% endif %}</h3>
<h3>Age: {% if age %}{{ age }}{% endif %}</h3>
<h3>Gender: {% if gender %}{{ gender }}{% endif %}</h3>

<hr>
{% if info_message %}<p><strong><font color="green">{{ info_message }}</font></strong></p><br>{% endif %}
{% if error_message %}<p><strong><font color="red">{{ error_message }}</font></strong></p><br>{% endif %}

<h4>Change your password if you like</h4>
<form action="{% url 'coreapp:myprofile' %}" method="post">
  {% csrf_token %}
  new password:<br>
  <input type="password" name="newpassword"><br>
  repeat:<br>
  <input type="password" name="reppassword"><br>
  <br>
  <input type="submit" value="OK"/>
</form> <br>
<form action="{% url 'coreapp:eingeloggt' %}" method="post">
    {% csrf_token %}
    <button type="submit" name="action">Logout</button>
</form>
</body>
</html>
