<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../index"><img class="navbar-brand" src="http://i.imgur.com/duGBAxp.png" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../../index">Home</a></li>
                <li><a href="../../users/login_user">Einloggen</a></li>
                <li class="active"><a href="../../users/reg_user/">Registrieren</a></li>
            </ul>
        </div>
    </div>
</nav>

<br /><br /><br />

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="text-center">
    <h1>USER REGISTRATION</h1>
</div>
<br>
<form class="form-horizontal" action="{% url 'coreapp:reg_user' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-sm-2" for="username">username:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" {% if username %} value="{{ username }}" {% endif %}>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="password">Password:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="password" id="password" placeholder="Enter password" {% if password %} value="{{ password }}" {% endif %}>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="password_rep">repeat password:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="password_rep" id="password_rep" placeholder="Enter password"
                   {% if password %} value="{{ password_rep }}" {% endif %}>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="email" id="email" placeholder="Enter email" {% if email %} value="{{ email }}" {% endif %}>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="age">Age:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="age" id="age" placeholder="Enter age" {% if email %} value="{{ age }}" {% endif %}>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="gender">gender:</label>
        <div class="col-sm-9">
            <select id="gender" name="gender" size="2">
                <option value="f" selected="selected">female</option>
                <option value="m">male</option>
            </select>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>


{% if error_message %}
<div class="alert alert-danger fade in" align="center">
    <strong>An error occured!</strong><br>message: {{ error_message }}
</div>
{% endif %}

</body>
</html>